<h3> <%= @post.user.fname %> <%= @post.user.lname %>'s Post!</h3>

<h2>
  <ul>
    <li>
      <%= @post.id %>.
      <%= @post.title %>
    </li><br>
    <li>
      <%= @post.content %>
    </li><br>
      Posted By: <%= @post.user.fname %> <%= @post.user.lname %>
  </ul>
</h2>

<hr>


<h2>Comments:</h2>
  <h3>
    <% @comments.each do |comment| %>
    <%= comment.content %>
    <hr>
    <% end %>
  </h3>

<hr>

<h3>Comment on <%= @post.user.fname %> <%= @post.user.lname %>'s post!</h3>


<h2>
  <ul>
    <%= form_for Comment.new do |f| %>
      <li>
        <%= f.label :content %><br>
        <%= f.text_field :content %> <br>
      </li><br>
      <li>
        <%= f.label :user %><br>
        <%= f.collection_select :user_id, User.all, :id, :fname %>
      </li><br>
      <li>
        <%= f.label :post %><br>
        <%= f.collection_select :post_id, Post.all, :id, :content %>
      </li>

      <%= f.submit %>

      <br><br>

      Commented By: <%= @post.user.fname %> <%= @post.user.lname %>

    <% end %>
  </ul>
</h2>
